<section class="website">
  <div class="dragonfruit-container">

  </div>
  <div class="tile-container grid-x grid-margin-x grid-margin-y">
    <div class="cell small-12 large-6 tile big-bold">
      <span class="big">
        <span class="b">B</span>
        <span class="i">I</span>
        <span class="g">G</span>
      </span>
      <span class="bold">Bold</span>
      Tiles Added
    </div>
    <div class="cell small-12 large-6 tile new-footer grid-y">
      <div class="cell auto foot grid-x align-bottom">
        <img src="../img/foot.svg" alt="Foot Icon">
      </div>
      <div class="title-container small-7 cell grid-x align-bottom">
        New Footer
      </div>
    </div>
    <div class="cell small-12 large-6 tile dark-mode grid-y">
      <div class="cell auto">
        Dark Mode Enabled
        <!-- <span>Dark</span>
        <span>Mode</span>
        <span>Enabled</span> -->
      </div>
      <div class="cell auto moon">
        <img src="../img/moon.svg" alt="Moon Icon">
      </div>
    </div>
    <div class="cell small-12 large-6 tile speed">
      Improved speed and code optimizations
    </div>
  </div>
</section>
