.year-twenty{
  .year-in-review{
    margin-bottom: 0;
    .nav-container{
      background: linear-gradient(120deg, rgba(247,152,104,1) 0%, rgba(241,95,99,1) 100%);
      padding-bottom: 4em;
      padding-top: 3em;
    }
    .twenty-container{
      margin-top: 2em;
      margin-bottom: 2em;
    }
    .twenty{
      font-family: $zilla;
      font-size: 12em;
      font-weight: $zilla-bold;
      color: $pure-white;
      @media screen and (max-width: 40em) {
        font-size: 6em;
      }
    }
    h1{
      display: inline-block;
      line-height: 9rem;
      @media screen and (max-width: 40em) {
        line-height: 4rem;
      }
    }
    h2{
      display: inline-block;
      color: $pure-white;
      font-size: 5.5em;
      line-height: 6rem;
      font-weight: $zilla-light;
      margin-bottom: 0;
      margin-top: -2em;
      @media screen and (max-width: 40em) {
        font-size: 3em;
        line-height: 2.6rem;
      }
    }
  }

  .content-container{
    background-color: white;
    padding-top: 6rem;
    padding-bottom: 20rem;
  }

  .hero-text{
    font-family: $zilla;
    font-size: 2.5em;
    line-height: 1.2em;
    text-align: justify;
    padding-left: 0;
    padding-right: 0;
    @media screen and (max-width: 40em) {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
    span{
      position: relative;
      span{
        display: none;
        position: absolute;
      }
    }
    .wow{
      .wow-react{
        display: block;
        width: 100%;
        opacity: 0.5;
        z-index: -1;
        font-size: 2em;
        text-align: center;
        margin-top: -25%;
      }
    }

  }

  .website{
    .tile-container{
      .big-bold{
        padding: 2rem 2rem;
        background: linear-gradient(120deg, rgba(69,188,242,1) 0%, rgba(17,102,142,1) 100%);
        color: $pure-white;
        font-size: 10rem;
        line-height: 9rem;
        font-family: $zilla;
        span{
          display: block;
        }
        .big{
          font-weight: $zilla-bold;
          span{
            display: inline-block;
          }
          .b{
            font-size: 0.8em;
            margin-right: -0.2em;
          }
          .i{
            font-size: 0.9em;
            margin-right: -0.2em;
          }
          .g{}
        }
        .bold{
          font-weight: $zilla-bold;
        }
        @media screen and (max-width: 40em) {
          font-size: 6em;
          line-height: 6rem;
        }
      }
      .new-footer{
        .foot{
          padding: 2rem 2rem;
        }
        .title-container{
          padding: 2rem 2rem;
          border-radius: 0 0 40px 40px;
          color: $pure-white;
          font-size: 10rem;
          line-height: 9rem;
          font-family: $zilla;
          font-weight: $zilla-bold;
          background: linear-gradient(225deg, rgba(0,218,209,1) 0%, rgba(0,241,159,1) 100%);
          @media screen and (max-width: 40em) {
            font-size: 6em;
            line-height: 6rem;
          }
        }
      }
      .dark-mode{
        padding: 2rem 2rem;
        color: $navy-black;
        font-size: 5rem;
        line-height: 5rem;
        font-family: $zilla;
        font-weight: $zilla-bold;
        background: linear-gradient(45deg, rgba(255,221,30,1) 0%, rgba(255,255,255,1) 100%);
        span{
          // display: block;
        }
      }
      .speed{
        padding: 2rem 2rem;
        color: $pure-white;
        background: linear-gradient(45deg, rgba(241,206,0,1) 0%, rgba(255,161,0,1) 100%);
        font-size: 4rem;
        line-height: 4rem;
        font-family: $zilla;
        font-weight: $zilla-bold;
      }
    }
    .tile{
      border-radius: 40px;
      min-height: 43rem;
      -webkit-box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
      -moz-box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
      box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
      @media screen and (max-width: 40em) {
        min-height: 30rem;
      }
    }
  }




  footer{
    background-image: url("../img/2020/footergradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $navy-black;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: -1;
    .logo{
      margin-top: -3.1em;
      float: right;
      @media screen and (max-width: 64em) {
        width: 6em;
      }
      @media screen and (max-width: 40em) {
        width: 4em;
      }
    }
    h1{
      font-family: $lato;
      color: $pure-white;
      font-size: 18em;
      font-weight: $lato-thin;
      font-style: italic;
      line-height: 0.8em;
      @media screen and (max-width: 64em) {
        font-size: 10em;
      }
      @media screen and (max-width: 40em) {
        font-size: 6.4em;
      }
    }
    .text-section{
      margin-top: 10em;
      margin-bottom: 10em;
      @media screen and (max-width: 64em) {
        margin-top: 3em;
        margin-bottom: 3em;
      }
      @media screen and (max-width: 40em) {
        margin-top: 5em;
        margin-bottom: 5em;
      }
    }
  }


}
