.year-twenty{
  .year-in-review{
    margin-bottom: 0;
    .nav-container{
      background: linear-gradient(120deg, rgba(247,152,104,1) 0%, rgba(241,95,99,1) 100%);
      padding-bottom: 4em;
      padding-top: 3em;
    }
    .twenty-container{
      margin-top: 2em;
      margin-bottom: 2em;
    }
    .twenty{
      font-family: $zilla;
      font-size: 12em;
      font-weight: $zilla-bold;
      color: $pure-white;
      @media screen and (max-width: 40em) {
        font-size: 6em;
      }
    }
    h1{
      display: inline-block;
      line-height: 9rem;
      @media screen and (max-width: 40em) {
        line-height: 4rem;
      }
    }
    h2{
      display: inline-block;
      color: $pure-white;
      font-size: 5.5em;
      line-height: 6rem;
      font-weight: $zilla-light;
      margin-bottom: 0;
      margin-top: -2em;
      @media screen and (max-width: 40em) {
        font-size: 3em;
        line-height: 2.6rem;
      }
    }
  }

  .content-container{
    background-color: white;
    padding-top: 6rem;
    padding-bottom: 20rem;
  }
  .hero{
    .hero-text{
      font-family: $zilla;
      font-size: 2.5em;
      line-height: 1.2em;
      text-align: justify;
      padding-left: 0;
      padding-right: 0;
      @media screen and (max-width: 40em) {
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
      span{
        position: relative;
        span{
          display: none;
          position: absolute;
        }
      }
      .wow{
        .wow-react{
          display: block;
          width: 100%;
          opacity: 0.5;
          z-index: -1;
          font-size: 2em;
          text-align: center;
          margin-top: -25%;
        }
      }
    }
  }

  .black-lives-matter{
    padding-top: 6em;
    padding-bottom: 6em;
    background-color: $pure-black;
    h2, p{
      color: $pure-white;
    }
    h2{
      font-weight: $zilla-bold;
      text-align: center;
      font-size: 2.5em;
    }
    p{
      font-size: 1.5em;
      padding: 0;
    }
  }

  .website{
    .dragonfruit-container{
      font-family: $montserrat;
      text-align: center;
      padding: 6rem 0;
      background: url(../img/dots.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      @media screen and (max-width: 40em) {
        padding: 3rem 0;
      }
      span{
        display: block;
      }
      .site-name{
        font-weight: $montserrat-bold;
        color: #AC2C4C;
        font-size: 2vw;
        @media screen and (max-width: 64em) {
          font-size: 4vw;
          line-height: 4vw;
        }
        @media screen and (max-width: 40em) {
          font-size: 6vw;
          line-height: 6vw;
        }
      }
      .launched{
        font-weight: $montserrat-light;
        color: #AC2C4C;
        font-size: 10vw;
        // margin-top: -5vw;
      }
      .dragon{
        font-weight: $montserrat-bold;
        color: #DB3F66;
        font-size: 14vw;
        margin-top: -11vw;
        span{
          display: inline-block;
          img{
            width: 10vw;
          }
        }
      }
    }
    .tile-container{
      .big-bold{
        padding: 2rem 2rem;
        background: linear-gradient(120deg, rgba(69,188,242,1) 0%, rgba(17,102,142,1) 100%);
        color: $pure-white;
        font-size: 10rem;
        line-height: 9rem;
        font-family: $zilla;
        span{
          display: block;
        }
        .big{
          font-weight: $zilla-bold;
          span{
            display: inline-block;
          }
          .b{
            font-size: 0.8em;
            margin-right: -0.2em;
          }
          .i{
            font-size: 0.9em;
            margin-right: -0.2em;
          }
          .g{}
        }
        .bold{
          font-weight: $zilla-bold;
        }
        @media screen and (max-width: 64em) {
          font-size: 4em;
          line-height: 4rem;
        }
        @media screen and (max-width: 40em) {
          font-size: 6em;
          line-height: 6rem;
        }
      }
      .new-footer{
        .foot{
          padding: 2rem 2rem;
        }
        .title-container{
          padding: 2rem 2rem;
          border-radius: 0 0 40px 40px;
          color: $pure-white;
          font-size: 10rem;
          line-height: 9rem;
          font-family: $zilla;
          font-weight: $zilla-bold;
          background: linear-gradient(225deg, rgba(0,218,209,1) 0%, rgba(0,241,159,1) 100%);
          @media screen and (max-width: 64em) {
            font-size: 4em;
            line-height: 4rem;
          }
          @media screen and (max-width: 40em) {
            font-size: 6em;
            line-height: 6rem;
          }
        }
      }
      .dark-mode{
        padding: 2rem 2rem;
        color: $navy-black;
        font-size: 5rem;
        line-height: 5rem;
        font-family: $zilla;
        font-weight: $zilla-bold;
        background:
        radial-gradient(circle at 0% 100%, rgba($navy-black,1) 0%, rgba($navy-black,1) 45%, rgba($navy-black,0) 45%),
        linear-gradient(45deg, rgba(255,221,30,1) 0%, rgba(255,255,255,1) 100%);
        .text{
          @media screen and (max-width: 40em) {
            text-shadow: 0px 0px 50px rgba(255,221,30,1);
          }
        }
        span{
          display: block;
        }
        .moon{
          @media screen and (max-width: 64em) {
            width: 50%;
          }
          @media screen and (max-width: 40em) {
            width: 30%;
          }
        }
        @media screen and (max-width: 40em) {
          background: radial-gradient(circle at 0% 100%, rgba($navy-black,1) 0%, rgba($navy-black,1) 35%, rgba($navy-black,0) 35%),
          linear-gradient(45deg, rgba(255,221,30,1) 0%, rgba(255,255,255,1) 100%);
        }
      }
      .speed{
        padding: 2rem 2rem;
        color: $pure-white;
        background: url(../img/speed-stripes.svg), linear-gradient(45deg, rgba(241,206,0,1) 0%, rgba(255,161,0,1) 100%);
        background-repeat: no-repeat;
        background-position: center;
        font-size: 4rem;
        line-height: 4rem;
        font-family: $zilla;
        font-weight: $zilla-bold;
        span{
          display: block;
        }
        @media screen and (max-width: 64em) {
          font-size: 2.3em;
          line-height: 2.3rem;
        }
      }
      .resources{
        background-color: $signature-teal;
        color: $pure-white;
        font-family: $zilla;
        .cell{
          padding: 2rem;
        }
        p{
          font-size: 2.5em;
          padding: 0;

        }
        .title{
          font-weight: $zilla-bold;
          margin-bottom: 0;
          margin-top: 0.5em;
        }
        .description{
          margin-top: 0;
          line-height: 1.2em;
        }
        .pill-container{
          font-size: 0.5em;
          font-family: $lato;
          font-weight: $lato-bold;
          .pill{
            padding: 1em 2.5em 1em 2.5em;
            background-color: $pure-white;
            color: $signature-teal;
            display: inline-block;
            border-radius: 50px;
            margin: 5px;
            p{
              margin: 0;
            }
          }
          .special{
            color: $pure-white;
            background-color: $navy-black;
          }
        }
        @media screen and (max-width: 64em) {
          font-size: 0.7em;
          // line-height: 4rem;
        }
      }
    }
    .tile{
      border-radius: 40px;
      min-height: 43rem;
      -webkit-box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
      -moz-box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
      box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
      @media screen and (max-width: 40em) {
        min-height: 30rem;
      }
    }
    .sub-text{
      text-align: center;
      margin-top: 4rem;
      p{
        margin-bottom: 0;
        margin-top: 0;
        font-family: $zilla;
        font-weight: $zilla-bold;
        font-size: 2rem;
        line-height: 2.4rem;
        padding: 0;
        &:nth-of-type(2){
          font-size: 3rem;
        }
      }
    }
  }

  .shine-registry{
    margin-top: 6rem;
    margin-bottom: 6rem;
    .shine-container{
      overflow: hidden;
      position: relative;
      border-radius: 40px;
      padding: 4rem 4rem;
      background-color: #FFE6BA;
      font-family: $zilla;
      font-size: 3rem;
      line-height: 3.2rem;
      min-height: 50rem;
      -webkit-box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
      -moz-box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
      box-shadow: 0px 0px 100px 0px rgba($navy-black,0.25);
      .label-container{
        .description{
          margin-top: 1rem;
          font-weight: $zilla-regular;
          span{
            font-weight: $zilla-bold;

          }
        }
      }
      .image-container{
        position: absolute;
        z-index: 1;
        width: 45%;
        border-radius: 20px;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 20px 0px rgba($navy-black,0.25);
        -moz-box-shadow: 0px 0px 20px 0px rgba($navy-black,0.25);
        box-shadow: 0px 0px 20px 0px rgba($navy-black,0.25);
      }
      .shine-1{
        transform: rotate(15deg);
        top: 4rem;
        right: 12rem;
      }
      .shine-2{
        transform: rotate(-15deg);
        top: 18rem;
        left: 12rem;
      }
      .blue-blob{
        position: absolute;
        top: -20%;
        left: 50%;
      }
      .peach-blob{
        position: absolute;
        bottom: 10%;
        left: -10%;
      }
      .brick-blob{
        position: absolute;
        right: -10%;
        bottom: 15%;
      }
    }
  }

  .by-the-numbers{
    margin-top: 20em;
    margin-bottom: 20em;
    h2{
      font-size: 10vw;
      line-height: 10vw;
    }
  }

  .by-the-numbers-end{
    h2, p{
      font-family: $zilla;
      text-align: center;
      line-height: 0.9em;
    }
    h2{
      font-size: 3em;
      font-weight: $zilla-bold;
      font-style: italic;
      span{
        font-size: 1.5em;
      }
    }
    p{
      font-size: 2em;
      font-weight: $zilla-medium;
      font-style: italic;
      margin: 0;
      padding: 0;
    }
  }

  .music{
    h2{
      font-family: $montserrat;
      font-weight: $montserrat-black;
      font-size: 10vw;
      line-height: 7vw;
      @media screen and (max-width: 64em) {
        font-size: 20vw;
        line-height: 14vw;
      }
      .hrs{
        font-weight: $montserrat-light;
      }
      .description{
        font-size: 5vw;
        display: block;
        @media screen and (max-width: 64em) {
          font-size: 12vw;
          line-height: 0.8em;
          margin-top: 0.2em;
        }
      }
    }
    h3{
      font-family: $montserrat;
      text-align: center;
      font-weight: $montserrat-bold;
      margin-top: 3em;
      margin-bottom: 2em;
    }
    .song-container{
      .song-tile{
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        @media screen and (max-width: 64em) {
          padding-left: 0;
          padding-right: 0;
        }
        @media screen and (max-width: 40em) {
          margin-bottom: 2em;
        }
        img{
          border-radius: 40px;
          box-shadow: 0 0 50px 0 rgba($navy-black, 0.20);
        }
        .text-container{
          margin-top: 0.5em;
          font-family: $montserrat;
          p{
            margin: 0;
            padding: 0;
          }
          .title{
            font-weight: $montserrat-black;
          }
          .artist{
            font-weight: $montserrat-bold;
            display: inline-block;
          }
          .play-count{
            font-weight: $montserrat-regular;
            display: inline-block;
            float: right;
          }
        }
      }
    }
  }

  .slack-moji{
    margin-top: 20em;
    .slack-icon{
      max-width: 210px;
    }
    .title-container{
      margin-bottom: 2em;
    }
    .title{
      font-family: $montserrat;
      font-size: 4.4em;
      position: relative;
      margin-left: 0.3em;
      .most{
        font-weight: $montserrat-light;
        position: absolute;
      }
      .emoji{
        font-weight: $montserrat-bold;
        position: absolute;
        top: 0.6em;
        color: rgba($navy-black,0.3);
      }
    }
    .emoji-container{
      border-radius: 50%;
      min-height: 16.9rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        min-width: 8rem;
      }
      span{
        font-size: 8rem;
      }
    }
    .thumbs-up{
      background-color: #B9E98B;
    }
    .party-parrot{
      background-color: #B5E0FE;
    }
    .floor-laughing{
      background-color: #F9F064;
    }
    .hoppy-goat{
      background-color: #F2C1FD;
    }
  }

  .memoji{
    margin-top: 14em;
    margin-bottom: 14 em;
    .wrapper{
      align-items: center;
    }
    .bubble{
      position: absolute;
    }
    .text-container{
      position: relative;
      .video{
        top: -60%;
        left: 20%;
        @media screen and (max-width: 64em) {
          top: -5%;
          left: 5%;
          opacity: 30%;
        }
      }
      .chat{
        right: 0;
        bottom: -20%;
        @media screen and (max-width: 64em) {
          right: 5%;
          opacity: 30%;
        }
      }
    }
    p{
      font-family: $zilla;
      font-weight: $zilla-medium;
      font-size: 4em;
      padding: 0;
      line-height: 1em;
      margin: 0;
      z-index: 2;
      position: relative;
    }
  }
  .drone-photography{
    margin-top: 15rem;
    .title{
      font-family: $zilla;
      font-size: 3em;
      padding: 0;
      margin: 0;
      line-height: 1em;
      font-weight: $zilla-medium;
      sup{
        font-size: 0.3em;
        top: -1.5em;
      }
    }
    .circle, .text, .left-col, .right-col{
      margin-bottom: 0.9375rem*2;
    }
  }

  footer{
    background-image: url("../img/2020/footergradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $navy-black;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: -1;
    .logo{
      margin-top: -3.1em;
      float: right;
      @media screen and (max-width: 64em) {
        width: 6em;
      }
      @media screen and (max-width: 40em) {
        width: 4em;
      }
    }
    h1{
      font-family: $lato;
      color: $pure-white;
      font-size: 18em;
      font-weight: $lato-thin;
      font-style: italic;
      line-height: 0.8em;
      @media screen and (max-width: 64em) {
        font-size: 10em;
      }
      @media screen and (max-width: 40em) {
        font-size: 6.4em;
      }
    }
    .text-section{
      margin-top: 10em;
      margin-bottom: 10em;
      @media screen and (max-width: 64em) {
        margin-top: 3em;
        margin-bottom: 3em;
      }
      @media screen and (max-width: 40em) {
        margin-top: 5em;
        margin-bottom: 5em;
      }
    }
  }


}
